@model Review

<h2>Review for @Model.Book.Title was successfully posted!</h2>
<br />
<div class="card border-info" style="opacity:0.5">
    <div class="card-header">
        @if (@Model.HasSpoilers)
        {<p class="h3">Contains spoilers!!</p>}

        <p class="h4">
            @Model.Rating of 5 stars
        </p>
    </div>
    <div class="card-body">
        <p class="card-text">@Model.Text</p>
    </div>
    <div class="card-footer border-info" style="padding-bottom:0px;">
        <p>
            <small class="text-muted">Published: @Model.PublicationDate</small>
        </p>
    </div>
</div>

