@model Book

<div class="container-fluid" style="padding:0px">
    <h1>Changes Saved!</h1>
    <h1>@Model.Title</h1>
    <h3>by @Model.Author.FirstName @Model.Author.LastName</h3>
    <div>
        <div style="float:left">
            <img src=@Model.ImageUrl alt=@Model.Title style="max-height:300px;" />
        </div>
        <div style="float:left; margin-left:10px;">
            <p><span class="font-weight-bold">Genre: </span>@Model.Genre</p>
            <p><span class="font-weight-bold">Pages: </span>@Model.NumberOfPages</p>
            <p><span class="font-weight-bold">Rating: </span>@Model.Rating.ToString("#.#") of 5 stars</p>
            <p><span class="font-weight-bold">Publication date: </span>@Model.PublicationDate.ToString("yyyy-MM-dd")</p>
            <a asp-action="Edit" asp-route-id="@Model.Id" target="_blank" class="btn btn-outline-info">
                Edit
            </a>
            <a asp-action="Delete" asp-route-id="@Model.Id" target="_blank" class="btn btn-outline-info">
                Delete
            </a>
        </div>
    </div>
</div>

<div class="container row" style="margin-left:0px; padding:0px">
    <br />
    <p>@Model.Description</p>
</div>
