@model Book

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid" style="padding:0px">
    @*<div>*@
    <h1>@Model.Title</h1>
    <h3>by @Model.Author.FirstName @Model.Author.LastName</h3>
    @*</div>*@
    <div>
        <div style="float:left">
            <img src=@Model.ImageUrl alt=@Model.Title style="max-height:300px;" />
        </div>
        <div style="float:left; margin-left:10px;">
            <p><span class="font-weight-bold">Genre: </span>@Model.Genre</p>
            <p><span class="font-weight-bold">Pages: </span>@Model.NumberOfPages</p>
            <p><span class="font-weight-bold">Rating: </span>@Model.Rating.ToString("#.#") of 5 stars</p>
            <p><span class="font-weight-bold">Publication date: </span>@Model.PublicationDate.ToString("yyyy-MM-dd")</p>
            <a asp-action="Edit" asp-route-id="@Model.Id" target="_blank" class="btn btn-outline-info">
                Edit
            </a>
            <a asp-action="Delete" asp-route-id="@Model.Id" target="_blank" class="btn btn-outline-info">
                Delete
            </a>
        </div>
    </div>
</div>

<div class="container row" style="margin-left:0px; padding:0px">
    <br />
    <p>@Model.Description</p>
</div>


<h2>Reviews (@Model.Reviews.Count)</h2>

<div>
    <a asp-action="NewReview" asp-route-id="@Model.Id" target="_blank" class="btn btn-outline-info">
        New Review
    </a>
</div>

<ul class="list-unstyled">
    @foreach (var review in Model.Reviews.OrderByDescending(r => r.PublicationDate))
    {
        <li style="margin-top:40px;">
            <div class="card border-info">
                <div class="card-header">
                    @if (review.HasSpoilers)
                    {<p class="h3">Contains spoilers!!</p>}

                    <p class="h4">
                        @review.Rating of 5 stars
                    </p>
                    <a asp-controller="Reviews" asp-action="Delete" asp-route-id="@review.Id" target="_blank" class="btn btn-outline-info">
                        Delete
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">@review.Text</p>
                </div>
                <div class="card-footer border-info" style="padding-bottom:0px;">
                    <p>
                        <small class="text-muted">Published: @review.PublicationDate</small>
                    </p>
                </div>
            </div>
        </li>
    }

</ul>

