@model IEnumerable<GoodreadsDoppelganger.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>
<a asp-action="Create" target="_blank" class="btn btn-outline-info">
    New Book
</a>

<br />
<div>
    <ul class="list-unstyled" style="margin-top:50px">
        @foreach (var item in Model)
        {
            <li>

                <div class="card mb-3" style="max-height:200px; max-width:900px">
                    <div class="row no-gutters">
                        <div class="col-md-2">
                            <a asp-action="Details" asp-route-id="@item.Id" style="color:black">
                                <img src="@item.ImageUrl" alt=@item.Title style="height:200px" />
                            </a>
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <a asp-action="Details" asp-route-id="@item.Id" style="color:black">
                                    <h5 class="card-title">@item.Title</h5>
                                </a>
                                <h6 class="card-title">by @item.Author.FirstName @item.Author.LastName</h6>
                                <a asp-action="Details" asp-route-id="@item.Id" style="color:black">
                                    <div class="card-text line-clamp">@item.Description</div>
                                </a>
                                <p class="card-text">
                                    <small class="text-muted">Published: @item.PublicationDate.ToString("yyyy-MM-dd") | Rating: @item.Rating.ToString("0.0") of 5 stars (@item.Reviews.Count reviews) | @item.NumberOfPages Pages</small>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </li>
        }

    </ul>
</div>
