@model Book

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Title</h1>
<h3>by @Model.Author.FirstName @Model.Author.LastName</h3>
<img src=@Model.ImageUrl alt=@Model.Title style="max-height:300px;" />
<p>@Model.Description</p>
<p>Genre: @Model.Genre</p>
<p>Pages: @Model.NumberOfPages</p>
<p>Rating: @Model.Rating.ToString("#.#") of 5 stars</p>
<p>Publication date: @Model.PublicationDate.ToString("yyyy-MM-dd")</p>

<h2>Reviews</h2>

<a asp-action="NewReview" asp-route-id="@Model.Id" target="_blank" class="btn btn-outline-info">
   New Review
</a>


    <ul>
        @foreach (var review in Model.Reviews)
        {
            <li>
                <p>@review.Text</p>
            </li>
        }

    </ul>

