@model IEnumerable<GoodreadsDoppelganger.Models.Author>

@{
    ViewData["Title"] = "Index";
}

<h1>Authors</h1>
<a asp-action="Create" target="_blank" class="btn btn-outline-primary">
    New Author
</a>

<br />
<div>
    <ul class="list-unstyled" style="margin-top:50px">
        @foreach (var item in Model)
        {
            <li>
                <div class="card mb-3" style="max-height:200px; max-width:900px; border:none; overflow:hidden;">
                    <div class="row no-gutters">
                        <div class="col-md-2" style="max-width:150px;overflow:hidden;">
                            <a asp-action="Details" asp-route-id="@item.Id" style="color:black">
                                <img src="@item.ImageUrl" alt=@item.FullName style="height:200px; " />
                            </a>
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <a asp-action="Details" asp-route-id="@item.Id" style="color:black">
                                    <h5 class="card-title">@item.FullName</h5>
                                </a>
                                <a asp-action="Details" asp-route-id="@item.Id" style="color:black">
                                    <div class="card-text line-clamp">@item.Biography</div>
                                </a>
                            </div>
                            <div class="card-footer" style="border:none; background-color:white;">
                                <p class="card-text">
                                    <small class="text-muted">Birth date: @item.BirthDate.ToString("yyyy-MM-dd") | Rating: @item.AverageRating.ToString("0.0") of 5 stars </small>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </li>
        }

    </ul>
</div>

